{
  "openapi": "3.0.0",
  "info": {
    "title": "Orokii API Documentation",
    "version": "1.0.0",
    "description": "This is the Orokii API with full examples."
  },
  "servers": [
    {
      "url": "https://us-central1-osupa-prod.cloudfunctions.net"
    }
  ],
  "paths": {
        "/terraPayGetAccountStatus": {
      "post": {
        "summary": "Get Account Status",
        "description": "Returns currency quotation.",
       
"requestBody": {
  "required": true,
  "content": {
    "application/json": {
      "schema": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "txnDestination": {
                "type": "string",
                "example": "bank"
              },
              "bankAccountNumber": {
                "type": "string",
                "example": "005305011929"
              },
              "bankName": {
                "type": "string",
                "example": "CAIXABANK, S.A."
              },
              "receivingCountry": {
                "type": "string",
                "example": "EE"
              },
              "sortcode": {
                "type": "string",
                "example": ""
              },
               "beneficiaryName": {
                "type": "string",
                "example": "BABILONIA BOTEFLOR S.L"
              }
            },
            "required": [
              "txnDestination",
              "bankAccountNumber",
              "bankName",
              "receivingCountry",
              "sortcode",
               "beneficiaryName"
            ]
          }
        }
      }
    }
  }
}

        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "id": "abc123",
                  "message": "Quotation returned"
                }
              }
            }
          }
        },
        
      }
    },
    "/terraPayCurrencyQuotation": {
      "post": {
        "summary": "Get Currency quotation",
        "description": "Returns currency quotation.",
       
"requestBody": {
  "required": true,
  "content": {
    "application/json": {
      "schema": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "txnDestination": {
                "type": "string",
                "example": "bank"
              },
              "bankAccountNumber": {
                "type": "string",
                "example": "005305011929"
              },
              "amount": {
                "type": "string",
                "example": "0.1"
              },
              "receivingCountry": {
                "type": "string",
                "example": "IN"
              },
              "receivingCurrency": {
                "type": "string",
                "example": "INR"
              }
            },
            "required": [
              "txnDestination",
              "bankAccountNumber",
              "amount",
              "receivingCountry",
              "receivingCurrency"
            ]
          }
        }
      }
    }
  }
}

        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "id": "abc123",
                  "message": "Quotation returned"
                }
              }
            }
          }
        },
        
      }
    },
    "/basicGet": {
      "get": {
        "summary": "Basic GET request",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "message": "Hello from basic GET"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/getWithQuery": {
      "get": {
        "summary": "GET with query",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query received",
            "content": {
              "application/json": {
                "example": {
                  "country": "Nigeria",
                  "message": "Query received"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/getWithParam/{id}": {
      "get": {
        "summary": "GET with path param",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource found",
            "content": {
              "application/json": {
                "example": {
                  "id": "123",
                  "message": "Resource found"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/updateResource/{id}": {
      "put": {
        "summary": "PUT to update resource",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "status": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource updated"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/patchResource/{id}": {
      "patch": {
        "summary": "PATCH to modify resource",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource patched"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/deleteResource/{id}": {
      "delete": {
        "summary": "DELETE resource",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/securePost": {
      "post": {
        "summary": "POST with Bearer and X-API-Key",
        "description": "A secure POST endpoint.",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string"
                  }
                },
                "required": ["data"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Secure data received",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Secure data processed"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}

